.navigator{
    display: flex;
    background-color: #6200EE;
    justify-content: space-between;
}
.navigator_dark{
    background-color: #2D2D2D;
}
.user-info__photo{
    width: 50px;
    border-radius: 50%;
    padding-right: 8px;
}
.user-info__name{
    padding-right: 8px;
}