.posts-form{
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
